extends layout

block content
  div
    h1.archive-year 2015
    each blog in blogs
      div
        span.archive-time #{blog.updateTime}
        span.archive-title
          a(href="/blog/#{blog.url}") #{blog.title}
