doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title 自嗨| My Personal Page
    //- link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet' href='/stylesheets/railscasts.css')
    link(rel='stylesheet' href='/stylesheets/monokai_sublime.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    div.header
      div.wrap
        div#menu-button
          <i id="menu-button-icon" class="fa fa-bars"></i>
        div#header-title
            a(href='/') 
              span(style="color: #4285F4") z
              span(style="color: #EA4335") i
              span(style="color: #4285F4") h
              span(style="color: #FBBC05") a
              span(style="color: #34A853") i
        div#header-links
          a.header-link(href='') About
          a.header-link(href='/blogs') Posts
          a.header-link(href='') Archive
          a.header-link(href='/tags') Tags
          a.header-link(href='/create') Create
    div.main
      div.wrap
        block content
    footer.footer
      div.wrap copyright@ linyiting
    script(type='text/javascript' src='/javascripts/jquery-1.11.3.min.js')
    script(type='application/javascript' src='/javascripts/main.js')
    script(type='text/javascript' src='/javascripts/highlight.pack.js')
    script(type='text/javascript' src='/javascripts/jquery.identicon5.packed.js')
    script hljs.initHighlightingOnLoad();
    script $('.comment-avatar').identicon5({size: 50});