doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title 自嗨| My Personal Page
    //- link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet' href='/stylesheets/railscasts.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    div.container
      div.sidebar
        div#menu-button
          <i id="menu-button-icon" class="fa fa-bars"></i>
        div.sidebar-profile
          //- div
          img(src='/images/profile.jpg')
          h1
            a(href='/') 自嗨
          p Lin Yiting's Personal Blog
        div.sidebar-links
          a.sidebar-link(href='/') <i class="fa fa-home"></i> Home
          a.sidebar-link(href='') <i class="fa fa-user"></i> About Me
          a.sidebar-link(href='/blogs') <i class="fa fa-rss"></i> Blogs
          a.sidebar-link(href='') <i class="fa fa-comments"></i> Comments
          a.sidebar-link(href='/tags') <i class="fa fa-tags"></i> Tags
          //- a.sidebar-link(href='/create') Create a new blog
      div.main
        block content
    script(type='text/javascript' src='/javascripts/jquery-1.11.3.min.js')
    script(type='application/javascript' src='/javascripts/main.js')
    script(type='text/javascript' src='/javascripts/highlight.pack.js')
    script hljs.initHighlightingOnLoad();