* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Tahoma, Helvetica, Arial, sans-serif !important;
  font-size: 0.9em;
  line-height: 1.5;
}
ul {
  list-style: none;
}
.container {
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}
.sidebar {
  background-color: #fff;
}
@media(max-width:767px){
  .sidebar {
    width: 100%;
  }
  .main {
    width: 90%;
  }
}
@media(min-width:768px){
  .sidebar {
    width: 25%;
    float: left;
    margin-right: 2%;
    line-height: 2;
  }
  .sidebar-profile {
    width: 100%;
    float: left;
  }
  .sidebar-profile p {
    color: rgba(0, 0, 0, 0.7);
  }
  .sidebar-links {
    width: 100%;
    float: left;
  }
  .sidebar-link {
    display: block;
  }
  .sidebar-link i {
  }
  .main {
    width: 65%;
    float: left;
  }
}
.blog-block {
  width: 100%;
  float: left;
  padding: 2%;
  margin-bottom: 2%;
  background-color: rgba(255, 255, 255, 1);
}
.blog-block:first-child {
  margin-top: 2%;
}
.blog-info {
}