* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  font-family: "Crimson Text", Georgia, Tahoma, Helvetica, Cambria, "Times New Roman", Times, serif !important;
  font-size: 1em;
  line-height: 2;
}
h1 {
  font-family: "Source Sans Pro", Verdana, sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}
pre code{
  border-radius: 6px !important;
  line-height: 1.5;
}
input,textarea,button {
  padding: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  display: block;
}
input, textarea {
  font-size: 16px;
  margin: 10px auto;
  font-family: Menlo, 'Ubuntu Mono', Consolas, 'Courier New', 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
.header {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
#header-title {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 3.0em;
  line-height: 1.5;
  display: inline-block;
}

.footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 1px solid #e8e8e8;
}


.main {
  min-height: calc(100% - 167px); ;
  min-height: -webkit-calc(100% - 167px);      /* Chrome */
  min-height: -moz-calc(100% - 167px);     /* Firefox */ 
}
.blog-block {
  word-wrap: break-word;
  padding-top: 2em;
}
.blog-title {
  font-weight: 800;
}
.blog-info {
  margin-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #999;
}
.blog-info i {
  margin-right: 0.3em;
}
.blog-info a {
  margin-right: 0.3em;
}
.blog-info code {
  font-size: 1.1em;
}
.blog-info a:last-child {
  margin-right: 0;
}
.read-more {
  font-weight: 700;
  margin-left: 10px;
}

.comments-block {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 1);
}
.comments-block ul {
  padding-left: 3em;
}
.comments-block ul:first-child {
  padding-left: 0;
}
.comment-block {
  padding-top: 5px;
  padding-bottom: 3px;
  border-top: 1px solid #ddd;
}
.comment-avatar {
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.comment-name {
  font-weight: bold;
}
.comment-time {
  color: #666;
  font-size: 0.8em;
}
.comment-content {
  padding-left: 65px;
}
.comment-reply {
  padding-left: 65px;
}
#comment-form {
  border: 1px #ddd solid;
  margin-bottom: 5px;
}
#comment-form input, #comment-form textarea {
  width: 88%;
}
input#comment-submit {
  width: 80px;
  cursor: pointer;
}

.comment-cancel-button {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}
.comment-cancel-button i {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

.edit-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.edit-form textarea {
  border-radius: 4px;
  width: 90%;
}
input#title, input#url {
  padding: 10px 8px;
  border-radius: 4px;
  width: 90%;
}
#tags-editor {
  padding: 8px;
 margin-left: 3.5%; 
  width: 80%;
  border: 1px solid #ccc;
}
#tags-editor input {
  width: 100%;
  padding: 0;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
#show-tags {
  float: left;
  margin-top: -40px;
  margin-left: 88%;
}
#tags-block {
  margin-left: 3.5%;
  margin-top: 10px;
}
.tag-item {
  padding: 5px;
  color: #3e6d8e;
  background-color: #e4edf4;
  margin-right: 5px;
  cursor: pointer;
}
.added-tag {
  padding: 5px;
  color: #3e6d8e;
  background-color: #e4edf4;
  margin-right: 5px;
  cursor: pointer;
}

.archive-time {
  color: rgba(0, 0, 0, 0.6);
  margin-right: 10px;
}
.archive-title {
  text-decoration: underline;
}

.account-wall {
    margin: 0 auto;
    width: 300px;
    height: 320px;
}
/*.login-form {
    border: 1px #ddd solid;
}*/
.login-form button {
    margin: 0 auto;
}
.field input {
    width: 90%;
}

@media(max-width: 320px) {
    .account-wall {
        width: 90%;
    }
}

@media(min-width: 751px) {
  .wrap {
    /*width: 55%;*/
    max-width: 700px;
    margin: 0 auto;
  }
}
/*@media(min-width: 751px max-width: 864px) {
  .wrap {
    width: 60%;
    margin: 0 auto;
  }
}*/
@media(min-width: 751px) {
  #menu-button {
    display: none;
  }
  #header-links {
    display: inline-block;
    float: right;
    font-size: 20px;
    line-height: 80px;
  }
  #header-links a {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
  }
  #header-links a:hover {
    color: rgba(0, 0, 0, 1);
  }
}

@media(max-width: 750px) {
  #menu-button {
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 1.8em;
  }
  .wrap {
    padding-left: 10px;
  }
  #header-links {
    height: 0px;
    overflow: hidden;
  }
  #header-links a {
    display: block;
  }
}